:root{
  --DarkBlue: rgb(45, 49, 77);
  --LimeGreen: rgb(49, 211, 92);
  --BrightCyan: rgb(43, 183, 218);
  --GrayishBlue: rgb(150, 152, 166);
  --LightGrayishBlue: rgb(243, 244, 246);
  --VeryLightGray: rgb(250, 250, 250);
  --White: rgb(255, 255, 255);
  --desktop-view-width: 144rem;
  }

  html{
    font-size: 62.5%;
  }

  /*resets*/
  body{
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
    font-family: "Public Sans", sans-serif;
    box-sizing: border-box;
    }

    *,
    *::before,
    *:after{
      box-sizing: inherit;
    }

    section{
      width: 100%;
      max-width: 1440px;
      margin: auto;
      min-height: 100px;
    }

    h1,
    h2,
    h3,
    p{
      padding: 0;
      margin: 0;
      font-family: "Public Sans", sans-serif;
      font-weight: normal;
    }

    p{
      color: var(--GrayishBlue);
      font-size: 1.3rem;
      line-height: 2;
    }

    h1{
      font-size: 5.3rem;
      font-weight: 200;
    }

    h2{
      font-size: 3.1rem;
    }

    li{
      list-style: none;
    }

    a{
      text-decoration: none;
    }

/* general styles */

    /*btn*/
    .btn{
      background: linear-gradient(to right,var(--LimeGreen), var(--BrightCyan));
      padding: 14px 38px;
      border-radius:  30px;
      font-size: 13px;
      color: #ffffff;
      margin-left: auto;
      white-space: nowrap;
      transition: opacity .3s ease;
      cursor: pointer;
    }

    .btn:hover{
      opacity: 0.8;
    }

    /* ---------------- hero section --------*/

    /* MOBILE VIEW hero */

    .hero{
      container-type: inline-size;
      container-name: hero;
      width: 100%;
      max-width: 1440px;
      margin: auto;
      text-align: center;
    }



    .hero-text h1{
      font-size: 4rem;
      margin: 2rem 1.8rem  1.5rem;
    }

    .hero-text p{
      font-size: 1.4rem;
      line-height: 1.8;
      margin: 0 1.8rem 3.2rem;
    }

    .hero-img-holder{
      background-image: url(../images/bg-intro-mobile.svg);
      background-repeat: no-repeat;
      z-index: 0;
      overflow: hidden;
      text-align: center;
      background-size: 100%;
      background-position: 0 -17vw;
    }

    .hero-img{
      width: 90%;
      margin-top: -31.6%;

    }



    /* DESKTOP VIEW HERO section */

    @container hero (min-width: 700px){

      .wrapper-wide{
        display: flex;
        justify-content: flex-end;
        margin: auto 0 auto auto;
        width: 88.5%;
      }

      .hero-img-holder{
        flex: 1 1 823px;
        order: 2;
        background-image: url(../images/bg-intro-desktop.svg);
        background-size: 153.5%;
        background-repeat: no-repeat;
        background-position: 0.5cqw -17.8cqw !important;
      }

      .hero-img{
        width: 94%;
        margin-top: -8.7cqw !important;
        margin-left: 12.5cqw !important;
      }

      .hero-text{
        margin: 0;
        flex: 0 1 449px;
        text-align: left;
        padding-top: calc(175px - (((var(--desktop-view-width) - 100cqw)/700) * 150)) !important;
      }

      .hero-text h1{
        margin: 0 0 2.5rem !important;
        font-size: calc(5.3rem - (((var(--desktop-view-width) - 100cqw) / 700) * 21)) !important;
      }

      .hero-text p{
        font-size: calc(1.8rem - (((var(--desktop-view-width) - 100cqw) / 700) * 2)) !important;
        line-height: 1.5 !important;
        margin: 0 0 calc(3.6rem - (((var(--desktop-view-width) - 100cqw) / 700) * 20)) !important;

      }

    }

