:root{
  --DarkBlue: rgb(45, 49, 77);
  --LimeGreen: rgb(49, 211, 92);
  --BrightCyan: rgb(43, 183, 218);
  --GrayishBlue: rgb(150, 152, 166);
  --LightGrayishBlue: rgb(243, 244, 246);
  --VeryLightGray: rgb(250, 250, 250);
  --White: rgb(255, 255, 255);
  --desktop-view-width: 144rem;
  }


  /*resets*/
  html{
    font-size: 62.5%;
  }

  body{
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
    font-family: "Public Sans", sans-serif;
    box-sizing: border-box;
    }

    *,
    *::before,
    *:after{
      box-sizing: inherit;
    }

    h1,
    h2,
    h3,
    p{
      padding: 0;
      margin: 0;
      font-family: "Public Sans", sans-serif;
      font-weight: normal;
    }

    p{
      color: var(--GrayishBlue);
      font-size: 1.3rem;
      line-height: 2;
    }

    h1{
      font-size: 5.3rem;
      font-weight: 200;
    }

    h2{
      font-size: 3.1rem;
    }

    li{
      list-style: none;
    }

    a{
      text-decoration: none;
    }

    figure{
      display: block;
      padding: 0;
      margin: 0;
    }

    img{
      display: inline-block;
    }

/* general styles */

    section,
    footer
    {
      width: 100%;
      max-width: 1440px;
      margin: auto;
    }

    .wrapper{
      width: 77%;
      margin: auto;
    }

    /*btn*/
    .btn{
      display: inline-block;
      background: linear-gradient(to right,var(--LimeGreen), var(--BrightCyan));
      padding: 14px 38px;
      border-radius:  30px;
      font-size: 13px;
      color: #ffffff;
      margin-left: auto;
      white-space: nowrap;
      transition: opacity .3s ease;
      cursor: pointer;
    }

    .btn:hover{
      opacity: 0.8;
    }

/* --- HERO section --*/

/* HERO -- mobile view */

    .hero{
      container-type: inline-size;
      container-name: hero;
      text-align: center;
    }

    .hero-text h1{
      font-size: 4rem;
      margin: 2rem 1.8rem  1.5rem;
    }

    .hero-text p{
      font-size: 1.4rem;
      line-height: 1.8;
      margin: 0 1.8rem 3.2rem;
    }

    .hero-img-holder{
      background-image: url(../images/bg-intro-mobile.svg);
      background-repeat: no-repeat;
      z-index: 0;
      overflow: hidden;
      text-align: center;
      background-size: 100%;
      background-position: 0 -17vw;
    }

    .hero-img{
      width: 90%;
      margin-top: -31.6%;

    }



/* HERO desktop*/

    @container hero (min-width: 700px){

      .wrapper-wide{
        display: flex;
        justify-content: flex-end;
        margin: auto 0 auto auto;
        width: 88.5%;
      }

      .hero-img-holder{
        flex: 1 1 823px;
        order: 2;
        background-image: url(../images/bg-intro-desktop.svg);
        background-size: 153.5%;
        background-repeat: no-repeat;
        background-position: 0.5cqw -17.8cqw !important;
      }

      .hero-img{
        width: 94%;
        margin-top: -8.7cqw !important;
        margin-left: 12.5cqw !important;
      }

      .hero-text{
        margin: 0;
        flex: 0 1 449px;
        text-align: left;
        padding-top: calc(175px - (((var(--desktop-view-width) - 100cqw)/700) * 150)) !important;
      }

      .hero-text h1{
        margin: 0 0 2.5rem !important;
        font-size: calc(5.3rem - (((var(--desktop-view-width) - 100cqw) / 700) * 21)) !important;
      }

      .hero-text p{
        font-size: calc(1.8rem - (((var(--desktop-view-width) - 100cqw) / 700) * 2)) !important;
        line-height: 1.5 !important;
        margin: 0 0 calc(3.8rem - (((var(--desktop-view-width) - 100cqw) / 700) * 20)) !important;

      }

    }


/* FEATURES section */

/* mobile view*/

.features{
  margin-top: 8.8rem;
  padding-top: 6.4rem;
  padding-bottom: 2.5rem;
  background-color: #f4f5f7;
}

.features *{
  text-align: center;
}

.features-title{
  margin-bottom: 2.5rem;
}

.features-intro{
  font-size: 1.4rem;
  line-height: 1.5;
}

/*items*/

.items{
  padding-top: 6.2rem;
}

.item{
  margin-bottom: 2.7rem;
}

.item-title{
  margin-top: 2.3rem;
  font-size: 1.9rem;
  padding-bottom: 2rem;
}

.item-text{
  font-size: 1.4rem;
  line-height: 1.8;
}

/* FEATURES -desktop view */

@media screen and (min-width:700px){

  .features{
    margin-top: -9.4vw;
    padding-bottom: 0;
  }

  .features *{
    text-align: left;
  }

  .features .wrapper{
    padding-bottom: 7.6rem;
  }
}

.features-title{
  font-size: 3.8rem;
  margin-top: 0.6rem;
  margin-bottom: 2.4rem;
}

.features-intro{
  font-size: 1.8rem;
  padding-bottom: 1rem;
}



.items{
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
}

.item-header{
  padding-bottom: 1rem;
}

.item-title{
  font-size: 2.3rem;
  margin-top: 2.7rem;
}

.item-text{
  font-size: 1.6rem;
  line-height: 1.7;
  padding-top: 0.6rem;
}



/* above 1440px */

@media screen and (min-width: 1441px){
  .features{
    margin-top: -135px !important;
  }
}

/* ARTICLES */

/* ARTICLES mobile view */
.articles{
  background-color: #fafafa;
}

.articles .articles-header{
  font-size: 3.8rem;
  color: var(--DarkBlue);
  padding-top: 8.3rem;
}

.articles .items{
  padding-top: 5rem;
}

.articles .item{
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(92, 87, 87, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.articles .item-header{
  padding: 0;
  margin: 0;
  max-height: 197px;
  overflow: hidden;
}

.articles .item > :not(.item-header) {
  margin: 0 2rem;
}

.articles img{
  display: block;
  width: 100%;
  aspect-ratio: 1275 / 1000;
  max-height: 197px;
  object-fit: cover;
  object-position: center;
}

.articles .item img{
  transition: transform 400ms ease-in-out;
}

.articles .item:hover img,
.articles .item:focus img{
  transform: scale(1.1);
}

.articles .item-caption{
  color: var(--GrayishBlue);
  display: block;
  font-size: 1rem;
  margin-bottom: 0.9rem !important;
  margin-top: 2.5rem !important;
}

.articles .item-title{
  font-size: 1.6rem;
  color: var(--DarkBlue);
  padding-bottom: 0.5rem;
}

.articles .item-text{
  font-size: 1.4rem;
  color: var(--GrayishBlue);
  line-height: 1.2;
  padding-bottom: 2rem;
}

/* cover for the articles' pictures */

.cover-gallery{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 100;
  transform: translateY(100%);
}

.cover-gallery > .inner{
  display: flex;
  gap: 4px;
  flex-direction: column;
  background-color: var(--LightGrayishBlue);
  padding: 30px;
}

.cover-gallery.show{
  top: 0;
  transform: translateY(0);
}

.cover-gallery button{
  align-self: flex-start;
}

/* FOOTER */

.footer > .wrapper{
  display: flex;
  background-color: var(--DarkBlue);
}

.footer-images{
  flex: 1 1 28.5rem;
}

.footer-menu{
  flex: 1 1 2.9rem;
}

.footer-contact{
  flex: 1 1 53.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;;
}